<%= turbo_frame_tag id="bash-terminal" do %>
  <div class="min-w-[1200px] min-h-[600px] bg-black text-white text-center rounded-xl">
    This is where I see my terminal! However it only works for me, so I gave you a pretty black square instead.
  </div>
<% end %>
